/*	lightgrey
	midnightblue
	goldenrod
*/

.family {
	text-align: center;
	margin-top: 100px;
}


.statement {
	text-align: center;
	margin-top: 25px;

}

.navigation {
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
}

.grid-container {
	text-align: center;

}

.collage {
	text-align: center;
}

.audio {
	text-align: center;
}

.grid-container {

}






h1	{
	background-image: url(../img/stardust.png);
	color: goldenrod;
	text-align: center;
	line-height: 200px;
	font-size: 5em;
	border-radius: 10px;
}
	
	

h2	{
	color: goldenrod;
	font-size: 3.25em;
	text-align: center;
}

h3	{
	color: grey;
	font-size: 2.25em;
	text-align: center;
	margin-top: -40px;
}

body {
	font-family: marvel;
	background: url(../img/brickwall.png);
	color: midnightblue;
}

li {
	color: white;
	display: inline-block;
	list-style: none;
}

a {
	display: inline-block;
	line-height: 2em;
	padding: 1em;
	text-decoration: none;
	text-transform: uppercase;
	width: 10em;
}

a {
	color: midnightblue;
}

p {
	font-family: marvel;
	font-size: 1.5em;
}



a[href^="index"]::before {
	content: "☝";
	letter-spacing: 4px;
	font-size: 1em;
}

a[href^="index"]:hover::before {
	border-radius: 10px;
	color: goldenrod;
	content: "✌";
	letter-spacing: 4px;
	font-size: 1em;
	padding: 3px;
}

a[href^="portfolio"]::before {
	content: "☝";
	letter-spacing: 4px;
	font-size: 1em;
}

a[href^="portfolio"]:hover::before {
	border-radius: 10px;
	color: goldenrod;
	content: "✌";
	letter-spacing: 4px;
	font-size: 1em;
	padding: 3px;
}

a[href^="resume"]::before {
	content: "☝";
	letter-spacing: 4px;
	font-size: 1em;
}

a[href^="resume"]:hover::before {
	border-radius: 10px;
	color: goldenrod;
	content: "✌";
	letter-spacing: 4px;
	font-size: 1em;
	padding: 3px;
}

a[href^="collage"]::before {
	content: "☝";
	letter-spacing: 4px;
	font-size: 1em;
}

a[href^="collage"]:hover::before {
	border-radius: 10px;
	color: goldenrod;
	content: "✌";
	letter-spacing: 4px;
	font-size: 1em;
	padding: 3px;
}

a[href^="mailto"]:before {
  content: "☝";
  padding-right: .25em;
}

a[href^="mailto"]:hover::before {
	border-radius: 10px;
	color: goldenrod;
	content: "✌";
	letter-spacing: 4px;
	font-size: 1em;
	padding: 3px;
}

a[href^="http"]:before {
  content: "☝";
  padding-right: .25em;
}

a[href^="http"]:hover::before {
	border-radius: 10px;
	color: goldenrod;
	content: "✌";
	letter-spacing: 4px;
	font-size: 1em;
	padding: 3px;
}

a[href*="etsy"]:before {
  content: "☝";
  padding-right: .25em;
}

a[href*="etsy"]:hover::before {
	border-radius: 10px;
	color: goldenrod;
	content: "✌";
	letter-spacing: 4px;
	font-size: 1em;
	padding: 3px;
}



.current {
	background: lightgrey;
	border-radius: 10px;
	content: "◉";
	
}




/* MEDIA QUERIES*/

@media (min-width: 1px) and (max-width: 767px)  {
	.grid-container > [class^="grid-"] {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.hide-mobile {
		display: none;
	}
}

@media (min-width: 768px) {

